
.home-page{
    display: flex;
    width: 100vw;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 60px);
    height: 100px;
    padding: 0 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), transparent);
    z-index: 999;
}

.home-logo{
    height: 75px;
    margin-right: 105px;
}

.button-bar{
    display: flex;
    gap: 30px;
}

.topbar-button{
    background: none;
    border: none;
    color: #edededc6;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.topbar-button:hover{
    color: white;
    transform: scale(1.05);
}

.topbar-button.active{
    font-weight: bold;
    color: #788ec4;
    transform: scale(1.05);
}

.user-button-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    padding: 0 5px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px outset rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(16px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.4);
}

.topbar-user-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100px;
    font-size: 14px;
}

.topbar-user-button svg{
    font-size: 20px;
    margin: 0 8px;
}

.topbar-user-button:hover{
    text-decoration: underline;
}

.user-button-bar-seperator{
    width: 3px;
    border-radius: 50px;
    height: 60%;
    background: #ffffff73;
}

.home-background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: brightness(0.6);
    /* backdrop-filter: blur(8px);
    mask: linear-gradient(transparent, black, black); */
    object-fit: cover;
    z-index: 0;
}

.left-panel{
    position: sticky;
    top: 120px;
    width: 300px;
    height: 500px;
    margin: 20px 30px 0 30px;
    flex: 0 0 auto;
    
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px outset rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(16px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.4);
}

.category-list{
    font-size: 18px;
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: white;
}

.category-item{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.category-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.category-item.active{
    background-color: rgba(255, 255, 255, 0.2);
}

.category-icon{
    font-size: 24px;
    margin-right: 10px;
}

.price-filter{
    padding: 0 20px;
    color: white;
    margin-top: 50px;
    height: 100%;
}

.price-filter h4{
    margin: 0 0 10px 5px;
}

.price-range{
    display: flex;
    gap: 10px;
}

.price-range input{
    color: #fff;
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    outline: none;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px outset rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(16px);
}

.content{
    min-height: 500px;
    height: fit-content;
    margin: 120px 30px 0 0;
    width: 100%;
    
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px outset rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(16px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.4);
}

.map{
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0;
}
